.containercontent {
	padding-top: 10px;
	padding-left: 10px;
	padding-right: 10px;
}

.container700w350h {
	height: 350px;
	width: 700px;
}

.container350w350h {
	height: 350px;
	width: 350px;
}

.container700w450h {
	height: 450px;
	width: 700px;
}

.container700w {
	height: 100%;
	width: 700px;
}

.container350w450h {
	height: 450px;
	width: 350px;
}

/* Tablet Landscape */
@media screen and (max-width: 1060px) {
	article {
		width: 100%;
	}
	.top {
		width: 30%;
		margin-left: 3%;
	}
	nav a {
		width: 170px;
	}
	.container350w450h {
		width: 300px;
	}
	.container700w {
		width: 650px;
	}
	.container700w450h {
		width: 650px;
	}
}