.wicketExtensionsWizardInnerTable {
	border: none;
	width: 100%;
}

.wicketExtensionsWizardOuterTable {
	width: 100%;
}

.wicketExtensionsWizardHeader {
	border-bottom: none;
	border-left: none;
	border-right: none;
	border-top: 1px dotted rgba(235, 107, 30, 1);
}

.wicketExtensionsWizardView {
	border-left: none;
	border-right: none;
	border-top: 1px solid rgba(220, 222, 206, 1);
	border-bottom: 1px solid rgba(220, 222, 206, 1);
}

.wicketExtensionsWizardViewRow {
	/* height: 100%; */
	
}

.wicketExtensionsWizardHeaderTitle {
	color: #EB6B1E;
	text-transform: uppercase;
	font-family: bpreplayregular;
	text-transform: uppercase;
	padding-top: 4px;
}

.mypalform {
	font-size: 0.8rem;
	box-sizing: border-box;
}

.mypalform .txtinput {
	display: block;
	font-family: "Helvetica Neue", Arial, sans-serif;
	border-style: solid;
	border-width: 1px;
	border-color: #dedede;
	font-size: 1.55em;
	padding: 0px 0px;
	padding-left: 10px;
	width: 90%;
	color: #777;
	float: left;
	box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1) inset;
	-moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1) inset;
	-webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1) inset;
	transition: border 0.15s linear 0s, box-shadow 0.15s linear 0s, color
		0.15s linear 0s;
	-webkit-transition: border 0.15s linear 0s, box-shadow 0.15s linear 0s,
		color 0.15s linear 0s;
	-moz-transition: border 0.15s linear 0s, box-shadow 0.15s linear 0s,
		color 0.15s linear 0s;
	-o-transition: border 0.15s linear 0s, box-shadow 0.15s linear 0s, color
		0.15s linear 0s;
}

.mypalform .txtinput:focus {
	color: #333;
	border-color: rgba(41, 92, 161, 0.4);
	box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1) inset, 0 0 8px
		rgba(41, 92, 161, 0.6);
	-moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1) inset, 0 0 8px
		rgba(41, 92, 161, 0.6);
	-webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1) inset, 0 0 8px
		rgba(41, 92, 161, 0.6);
	outline: 0 none;
}

.mypalform textarea {
	display: block;
	font-family: "Helvetica Neue", Arial, sans-serif;
	border-style: solid;
	border-width: 1px;
	border-color: #dedede;
	font-size: 1.5em;
	padding: 0px 0px;
	padding-left: 10px;
	width: 90%;
	height: 180px;
	color: #777;
	float: left;
	box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1) inset;
	-moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1) inset;
	-webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1) inset;
	transition: border 0.15s linear 0s, box-shadow 0.15s linear 0s, color
		0.15s linear 0s;
	-webkit-transition: border 0.15s linear 0s, box-shadow 0.15s linear 0s,
		color 0.15s linear 0s;
	-moz-transition: border 0.15s linear 0s, box-shadow 0.15s linear 0s,
		color 0.15s linear 0s;
	-o-transition: border 0.15s linear 0s, box-shadow 0.15s linear 0s, color
		0.15s linear 0s;
}

.mypalform textarea:focus {
	color: #333;
	border-color: rgba(41, 92, 161, 0.4);
	box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1) inset, 0 0 8px
		rgba(40, 90, 160, 0.6);
	-moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1) inset, 0 0 8px
		rgba(40, 90, 160, 0.6);
	-webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1) inset, 0 0 8px
		rgba(40, 90, 160, 0.6);
	outline: 0 none;
}

.mypalform textarea.txtblock {
	background: #fff
		url('http://media02.hongkiat.com/responsive-css3-form/speech.png') 5px
		4px no-repeat;
}

span.radiobadge {
	display: block;
	margin-bottom: 8px;
}

span.radiobadge label {
	font-size: 1.2em;
	padding-bottom: 4px;
}

select.selmenu {
	font-size: 17px;
	color: #676767;
	padding: 9px !important;
	border: 1px solid #aaa;
	width: 200px;
	float: left;
}

.aanhef select.selmenu {
	padding: 0px !important;
	width: 20%;
}

.dag select.selmenu {
	padding: 0px !important;
	width: 15%;
}

.maand select.selmenu {
	padding: 0px !important;
	margin-left: 2%;
	width: 25%;
}

.jaar select.selmenu {
	margin-left: 2%;
	padding: 0px !important;
	width: 20%;
}

.titel .txtinput {
	width: 73%;
	margin-left: 2%;
}

.voorletters .txtinput {
	width: 30%;
}

.voorvoegsel .txtinput {
	width: 60%;
	margin-left: 2%;
}

.voornaam .txtinput {
	width: 40%;
}

.achternaam .txtinput {
	width: 50%;
	margin-left: 2%;
}

.registratietable {
	width: 100%;
}

.registratietable tr {
	margin-bottom: 20px;
}

.registratieinputs {
	width: 60%;
}

.aanhef .ffSelectWrapper {
	width: 20%;;
	padding-right: 1%;
}

.titel .ffTextBoxWrapper {
	width: 80%;
}
/*
.voorletters .ffTextBoxWrapper {
	width: 100px;
	padding-right: 5px;
}

.voorvoegsel .ffTextBoxWrapper {
	width: 310px;
}

.voornaam .ffTextBoxWrapper {
	width: 175px;
	padding-right: 5px;
}

.achternaam .ffTextBoxWrapper {
	width: 235px;
}

.dag .ffSelectWrapper {
	width: 70px;
	padding-right: 5px;
}

.maand .ffSelectWrapper {
	width: 120px;
	padding-right: 5px;
}

.jaar .ffSelectWrapper {
	width: 90px;
	padding-right: 5px;
} */
.registratieInfo {
	text-transform: uppercase;
	padding-right: 20px;
	width: 33%;;
	text-align: right;
}

.requiredindicator {
	width: 6%; color : #EB6B1E;
	text-align: center;
	color: #EB6B1E;
}