@font-face {
	font-family: "mpsicons";
	src: url('../fonts/mps/mpsicons.eot');
	src: url('../fonts/mps/mpsicons.eot?#iefix') format('eot'),
		url('../fonts/mps/mpsicons.woff') format('woff'),
		url('../fonts/mps/mpsicons.ttf') format('truetype'),
		url('../fonts/mps/mpsicons.svg#mpsicons') format('svg');
	font-weight: normal;
	font-style: normal;
}

/*  Font Awesome styles
    ------------------------------------------------------- */
[class^="icon-"]:before,[class*=" icon-"]:before {
	font-family: mpsicons;
	font-weight: normal;
	font-style: normal;
	padding-right: 10px;
	font-size: 15px;
	/* display: inline-block; */
	text-decoration: inherit;
}

a [class^="icon-"],a [class*=" icon-"] {
	display: inline-block;
	text-decoration: inherit;
}
/* makes the font 33% larger relative to the icon container */
.icon-large:before {
	vertical-align: top;
	font-size: 1.3333333333333333em;
}

.btn [class^="icon-"],.btn [class*=" icon-"] {
	/* keeps button heights with and without icons the same */
	line-height: .9em;
}

li [class^="icon-"],li [class*=" icon-"] {
	display: inline-block;
	/* width: 1.25em; */
	text-align: center;
}

li .icon-large[class^="icon-"],li .icon-large[class*=" icon-"] {
	/* 1.5 increased font size for icon-large * 1.25 width */
	width: 1.875em;
}

li[class^="icon-"],li[class*=" icon-"] {
	margin-left: 0;
	list-style-type: none;
}

li[class^="icon-"]:before,li[class*=" icon-"]:before {
	text-indent: -2em;
	text-align: center;
}

li[class^="icon-"].icon-large:before,li[class*=" icon-"].icon-large:before
	{
	text-indent: -1.3333333333333333em;
}

.icon-email:before {
	content: "\0021";
}

.icon-emailopen:before {
	content: "\0022";
}

.icon-emailnew:before {
	content: "\0023";
}

.icon-print:before {
	content: "\0024";
}

.icon-search:before {
	content: "\0025";
}

.icon-close:before {
	content: "\0026";
}

.icon-ok:before {
	content: "\0027";
}

.icon-attach:before {
	content: "\0028";
}

.icon-pen:before {
	content: "\0029";
}

.icon-settings:before {
	content: "\002A";
}

.icon-poot:before {
	content: "\002B";
}

.icon-slot:before {
	content: "\002C";
}

.icon-slotopen:before {
	content: "\002D";
}

.icon-marker:before {
	content: "\002E";
}

.icon-label:before {
	content: "\002F";
}

.icon-bin:before {
	content: "\0030";
}

.icon-key:before {
	content: "\0031";
}

.icon-power:before {
	content: "\0032";
}

.icon-right:before {
	content: "\0033";
}

.icon-left:before {
	content: "\0034";
}

.icon-next:before {
	content: "\0035";
}

.icon-back:before {
	content: "\0036";
}

.icon-arrowdown:before {
	content: "\0037";
}

.icon-arrowup:before {
	content: "\0038";
}

.icon-arrowright:before {
	content: "\0039";
}

.icon-arrowleft:before {
	content: "\003A";
}

.icon-arrowbigleft:before {
	content: "\003B";
}

.icon-arrowbigright:before {
	content: "\003C";
}

.icon-rotate:before {
	content: "\003D";
}

.icon-arrowback:before {
	content: "\003E";
}

.icon-arrowturn:before {
	content: "\003F";
}

.icon-arrowcross:before {
	content: "\0040";
}

.icon-arrownext:before {
	content: "\0041";
}

.icon-arrowback:before {
	content: "\0042";
}

.icon-home:before {
	content: "\0043";
}

.icon-circleplus:before {
	content: "\0044";
}

.icon-circlewarning:before {
	content: "\0045";
}

.icon-circlequest:before {
	content: "\0046";
}

.icon-plus:before {
	content: "\0047";
}

.icon-blockblus:before {
	content: "\0048";
}

.icon-blockmin:before {
	content: "\0049";
}

.icon-download:before {
	content: "\004A";
}

.icon-upload:before {
	content: "\004B";
}

.icon-star:before {
	content: "\004C";
}

.icon-staraccent:before {
	content: "\004D";
}

.icon-clock:before {
	content: "\004E";
}

.icon-globe:before {
	content: "\004F";
}

.icon-settingstwo:before {
	content: "\0050";
}

.icon-conversation:before {
	content: "\0051";
}

.icon-document:before {
	content: "\0052";
}

.icon-pc:before {
	content: "\0053";
}

.icon-image:before {
	content: "\0054";
}

.icon-play:before {
	content: "\0055";
}

.icon-stop:before {
	content: "\0056";
}

.icon-record:before {
	content: "\0057";
}

.icon-mute:before {
	content: "\0058";
}

.icon-forward:before {
	content: "\0059";
}

.icon-backward:before {
	content: "\005A";
}

.icon-end:before {
	content: "\005B";
}

.icon-begin:before {
	content: "\005C";
}

.icon-eject:before {
	content: "\005D";
}

.icon-volumethree:before {
	content: "\005E";
}

.icon-volumetwo:before {
	content: "\005F";
}

.icon-volumeone:before {
	content: "\0060";
}

.icon-volumeoff:before {
	content: "\0061";
}

.icon-money:before {
	content: "\0062";
}

.icon-agendaimport:before {
	content: "\0063";
}

.icon-agenda:before {
	content: "\0064";
}

.icon-agendaok:before {
	content: "\0065";
}

.icon-world:before {
	content: "\0066";
}

.icon-map:before {
	content: "\0067";
}

.icon-profile:before {
	content: "\0068";
}

.icon-profileplus:before {
	content: "\0069";
}

.icon-profilemin:before {
	content: "\006A";
}

.icon-profilecheck:before {
	content: "\006B";
}

.icon-profiles:before {
	content: "\006C";
}

.icon-profiletalk:before {
	content: "\006D";
}

.icon-group:before {
	content: "\006E";
}

.icon-coach:before {
	content: "\006F";
}

.icon-chart:before {
	content: "\0070";
}

.icon-chartround:before {
	content: "\0071";
}

.icon-scheme:before {
	content: "\0072";
}

.icon-chartline:before {
	content: "\0073";
}

.icon-chartlines:before {
	content: "\0074";
}

.icon-chartup:before {
	content: "\0075";
}

.icon-chartdown:before {
	content: "\0076";
}

.icon-sun:before {
	content: "\0077";
}

.icon-suncloud:before {
	content: "\0078";
}

.icon-cloud:before {
	content: "\0079";
}

.icon-rain:before {
	content: "\007A";
}

.icon-rainheavy:before {
	content: "\007B";
}

.icon-storm:before {
	content: "\007C";
}

.icon-snow:before {
	content: "\007D";
}

.icon-snowheavy:before {
	content: "\007E";
}

.icon-snowrain:before {
	content: "\00A2";
}

.icon-freeze:before {
	content: "\00A3";
}

.icon-fog:before {
	content: "\00A4";
}

.icon-mixweather:before {
	content: "\00A5";
}

.icon-mooncloud:before {
	content: "\00A6";
}

.icon-moon:before {
	content: "\00A7";
}

.icon-moonmist:before {
	content: "\00A8";
}

.icon-temperature:before {
	content: "\00A9";
}

.icon-mpslogo:before {
	content: "\00AA";
}

.icon-hearthbeat:before {
	content: "\00B1";
}

.icon-team:before {
	content: "\00B2";
}

.icon-teamexport:before {
	content: "\00B3";
}

.icon-food:before {
	content: "\00B4";
}

.icon-weight:before {
	content: "\00B5";
}

.icon-steps:before {
	content: "\00B6";
}

.icon-feet:before {
	content: "\00B7";
}

.icon-run:before {
	content: "\00BA";
}

.icon-calender:before {
	content: "\00B9";
}

.icon-calendersport:before {
	content: "\00BA";
}

.icon-calendergroup:before {
	content: "\00BB";
}

.icon-searchsport:before {
	content: "\00BC";
}

.icon-deviceexport:before {
	content: "\00BD";
}

.icon-target:before {
	content: "\00BE";
}

.icon-lift:before {
	content: "\00BF";
}

.icon-think:before {
	content: "\00C0";
}

.icon-route:before {
	content: "\00C1";
}