@import url("mpsicons.css");

@import url("forms.css");

@import url("bpreplay.css");

@import url("containers.css");

html {
	font-size: 100%;
}

body {
	font-size: 1rem;
}

html,body {
	margin: 0;
	padding: 0;
	height: 100%;
	font-family: Tahoma;
}

#wrap {
	min-height: 100%;
	text-align: center;
	width: 100%;
	position: relative;
	overflow: hidden;
}

#background {
	height: 100%;
	margin: 0 auto;
	position: absolute;
	width: 100%;
	background-size: 100% auto;
	background-color: #53E302;
	background: url(../images/bg-001.jpg) center center fixed;
	background-repeat: no-repeat, repeat;
	webkit-background-size: cover;
	moz-background-size: cover;
	o-background-size: cover;
	background-size: cover;
	z-index: -999;
}

#pattern {
	position: absolute;
	width: 100%;
	height: 100%;
	z-index: -998;
}

.top {
	height: 100px;
	margin: 5px auto;
	width: 1100px;
	position: relative;
}

nav {
	background-color: #64665D;
	height: 30px;
	margin-bottom: 5px;
	font-family: bpreplaybold;
	font-size: 1rem;
	text-transform: uppercase;
	width: 100%;
}

header {
	width: 100%;
	background-color: #fff;
}

.clearfix:before,.clearfix:after {
	content: " ";
	display: table;
}

.clearfix:after {
	clear: both;
}

.clearfix {
	*zoom: 1;
}

.logo {
	position: absolute;
	left: 0px;
	top: 10px;
}

footer {
	width: 100%;
	height: 30px; /* Height of the footer */
	background-color: #64665D;
	position: relative;
	margin: -30px auto;
}

article {
	clear: left;
	overflow: auto;
	width: 1130px;
	padding-bottom: 30px;
	margin: 5px auto;
	font-size: 12px;
	color: #A4A697;
	height: 100%;
	overflow: auto;
}

body:before {
	content: "";
	height: 100%;
	float: left;
	width: 0;
	margin-top: -32767px;
}

.mainMenuItem {
	color: #FFF;
	padding-top: 5px;
	padding-left: 20px;
	text-decoration: none;
}

nav li {
	float: left;
	display: inline;
	background: #64665D;
	white-space: nowrap;
	*white-space: normal; /* ...unless you support IE7 (let it wrap) */
	-webkit-transition: background .2s;
	transition: background .2s;
}

nav a {
	display: inline-block;
	padding-top: 4px;
	height: 26px;
	text-decoration: none;
	zoom: 1; /* IE7 */
	color: #FFF;
	width: 11em;
	position: relative;
}

nav li ul {
	display: none;
	position: absolute;
	top: 1em;
	left: 0;
}

nav a#pull {
	display: none;
}

nav li:hover {
	background: #A4A697;
	/* only transition out, not in */
	-webkit-transition: none;
	transition: none;
}

nav a.active:after {
	content: url("../images/icon-sets/arrow_hover.png");
	position: absolute;
	left: 50%;
	top: 22px;
	margin-left: -21/2; /* negative number!*/
}

nav a.active:hover:after {
	content: url("../images/icon-sets/arrow_hover.png");
	position: absolute;
	left: 50%;
	top: 22px;
	margin-left: -21/2; /* negative number!*/
}

nav  a.active {
	background: #A4A697;
}

nav  a:hover:after {
	content: url("../images/icon-sets/arrow_hover.png");
	position: absolute;
	left: 50%;
	top: 22px;
	margin-left: -21/2; /* negative number!*/
}

nav li>ul {
	top: auto;
	left: auto;
}

nav li:hover ul {
	display: block;
}

nav ul {
	padding: 0;
	margin: 0;
	list-style: none;
	width: 1100px;
	margin: 0 auto;
}

.container {
	background: rgba(255, 255, 255, 0.9);
	border-radius: 10px;
	margin-top: 20px;
	float: left;
	text-align: left;
	-moz-box-shadow: inset 0 0 10px #000000;
	-webkit-box-shadow: inset 0 0 10px #000000;
	box-shadow: 1px 2px 6px 0px #ccc;
	position: relative;
}

.col1 {
	margin-right: 30px;
}

.col2 {
	margin-right: 0px;
}

.col3 {
	
}

.innercontainer {
	padding: 20px 10px 10px 10px;
	position: relative;
	height: 100%;
}

.title {
	height: 28px;
	color: #EB6B1E;
	background: rgba(220, 222, 206, 0.2);
	border-top: 1px solid rgba(220, 222, 206, 1);
	border-bottom: 1px solid rgba(220, 222, 206, 1);
	padding-left: 10px;
	padding-top: 5px;
	font-size: 1rem;
	font-family: bpreplaybold;
	text-transform: uppercase;
}

.registratieMenuItem {
	height: 28px;
	color: #EB6B1E;
	background: rgba(220, 222, 206, 0.2);
	border-top: 1px solid rgba(220, 222, 206, 1);
	border-bottom: 1px solid rgba(220, 222, 206, 1);
	padding-left: 10px;
	padding-top: 5px;
	font-size: 16px;
	text-transform: uppercase;
}

.registratieMenu {
	list-style-type: none;
	display: inline;
}

.registratiecontent {
	padding-top: 10px;
}

.bottomRowContainer {
	text-align: center;
	position: absolute;
	bottom: 40px;
	left: 0px;
	width: 100%;
}

.left {
	float: left;
	padding-left: 20px;
}

.right {
	float: right;
	padding-right: 20px;
}

.center {
	margin: 0 auto;
}

.button {
	border: 1px solid rgba(220, 222, 206, 1);
	padding: 0.5em 3em;
	color: #EB6B1E;
	text-transform: uppercase;
	display: inline-block;
}

img {
	max-width: 100%;
}

/* Tablet Landscape */
@media screen and (max-width: 1060px) {
	article {
		width: 100%;
	}
	.top {
		width: 30%;
		margin-left: 3%;
	}
	nav a {
		width: 170px;
	}
}

/* Tabled Portrait */
@media screen and (max-width: 768px) {
	article {
		width: 100%;
	}
	.top {
		width: 100%;
		margin: 0;
		border: none;
	}
	nav a {
		width: 10em;
	}
}

@media ( min-device-width :600px) {
	img[data-src-600px] {
		content: attr(data-src-600px, url);
	}
}

@media screen and (max-width: 600px) {
	nav {
		height: auto;
	}
	nav ul {
		width: 100%;
		display: block;
		height: auto;
	}
	nav li {
		width: 50%;
		float: left;
		position: relative;
	}
	nav li a {
		border-bottom: 1px solid #576979;
		border-right: 1px solid #576979;
	}
	nav a {
		text-align: left;
		width: 100%;
		text-indent: 25px;
	}
}

@media ( min-device-width :800px) {
	img[data-src-800px] {
		content: attr(data-src-800px, url);
	}
	@media ( min-width : 640px) {
		body {
			font-size: 1rem;
		}
	}
	@media ( min-width :960px) {
		body {
			font-size: 1.2rem;
		}
	}
	@media ( min-width :1100px) {
		body {
			font-size: 1.5rem;
		}
	}
}

@media only screen and (max-width : 480px) {
	nav {
		border-bottom: 0;
	}
	nav ul {
		display: none;
		height: auto;
	}
	nav a#pull {
		display: block;
		background-color: #64665D;
		width: 100%;
		position: relative;
	}
	nav a#pull:after {
		content: "";
		background: url('nav-icon.png') no-repeat;
		width: 30px;
		height: 30px;
		display: inline-block;
		position: absolute;
		rightright: 15px;
		top: 10px;
	}
	.mypalform .txtinput {
		font-size: 1.0rem;
	}
	select.selmenu {
		font-size: 1.0rem;
	}
	.title {
		font-size: 0.8rem;
	}
	.registratieInfo {
		display: none;
	}
	.titel .txtinput {
		width: 73%;
		margin-left: 1%;
	}
	.voorletters .txtinput {
		width: 30%;
	}
	.voorvoegsel .txtinput {
		width: 60%;
		margin-left: 1%;
	}
	.voornaam .txtinput {
		width: 40%;
	}
	.achternaam .txtinput {
		width: 50%;
		margin-left: 1%;
	}
}
}