<wicket:panel xmlns:wicket="http://wicket.apache.org">
	<form wicket:id="form" class="mypalform">
		<div wicket:id="feedbackpanel"></div>
		<table class="registratieTable">
			<tr>
				<td class="registratieInfo">
					<wicket:message key="persoon.aanspreekvormtitel"></wicket:message>
				</td>
				<td class="registratieinputs">
					<span class="aanhef">
						<select wicket:id="aanhef" class="selmenu"></select>
					</span>
					<span class="titel">
						<input type="text" class="txtinput" wicket:id="titel" />
					</span>
				</td>
				<td class="requiredindicator">*</td>
			</tr>
			<tr>
				<td class="registratieInfo">
					<wicket:message key="persoon.voorlettersvoorvoegsel"></wicket:message>
				</td>
				<td class="registratieinputs">
					<span class="voorletters">
						<input type="text"  class="txtinput" wicket:id="voorletters" />
					</span>
					<span class="voorvoegsel">
						<input type="text"  class="txtinput" wicket:id="voorvoegsel" />
					</span>
				</td>
				<td class="requiredindicator"></td>
			</tr>
			<tr>
				<td class="registratieInfo">
					<wicket:message key="persoon.voornaamachternaam"></wicket:message>
				</td>
				<td class="registratieinputs">
					<span class="voornaam">
						<input type="text"  class="txtinput" wicket:id="voornaam" />
					</span>
					<span class="achternaam">
						<input type="text"  class="txtinput" wicket:id="achternaam" />
					</span>
				</td>
				<td class="requiredindicator">*</td>
			</tr>
			<tr>
				<td class="registratieInfo">
					<wicket:message key="persoon.geboortedatumnationaliteit"></wicket:message>
				</td>
				<td class="registratieinputs">
					<span class="dag">
						<select wicket:id="day"  class="selmenu"></select>
					</span>
					<span class="maand">
						<select wicket:id="month"  class="selmenu"></select>
					</span>
					<span class="jaar">
						<select wicket:id="year"  class="selmenu"></select>
					</span>
				</td>
				<td class="requiredindicator">*</td>
			</tr>
		</table>
	</form>
</wicket:panel>